.portfolio-items {
  padding: 5% 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
}
.port-title {
  margin: 0;
  padding-bottom: 1rem;
  padding-top: 0;
}

.port-middle-content {
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid rgb(200, 200, 200);
  img {
    height: 30vh;
    width: 80%;
    border-radius: 1rem;
    object-fit: cover;
    margin-bottom: 3%;
  }
  p {
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    line-height: 1.5rem;
    font-size: 1rem;
    text-align: justify;
  }
}

.port-item-header {
  padding: 1rem 1rem;
  border-bottom: 2px solid rgb(200, 200, 200);
  display: flex;
  justify-content: space-between;
  h5 {
    font-size: 1.3rem;
  }
}

.port-subtopic-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem 1rem 0rem;
}
.port_out {
  margin-bottom: 8%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(18, 18, 19, 0.288);
}

.port-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    background: #e6e7ee;
    height: 50px;
    width: 50px;
    margin: 15px 20px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(18, 18, 19, 0.288);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    i {
      font-size: 28px;
      transition: all 400ms;
      color: #6c757d;
    }
  }
}

.port-title {
  padding: 5px 1rem;
  font-size: 1.5rem;
}
.port_in {
  margin: 3% 3%;
  border-radius: 10px;
  border: 0.0325rem solid #b8bbc0;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(18, 18, 19, 0.288);
}

.inner3 {
  margin: 3px 15px;
  background: rgba(245, 108, 109, 1);
  width: 30px;
  height: 5px;
  border-radius: 5px;
}
.tech {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  span {
    // min-width: 20%;
    margin: 1rem 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: rgba(245, 108, 109, 1);
    display: inline-block;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(18, 18, 19, 0.288);
  }
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 600px) {
  .port-middle-content {
    flex-direction: column;
  }
  .port_out {
    width: 90%;
  }
  .port-links {
    a {
      height: 40px;
      width: 40px;
      i {
        font-size: 20px;
      }
    }
  }
  .port-subtopic-header {
    padding-top: 1rem;
  }
  .tech {
    span {
      font-size: 0.8rem;
      min-width: 20%;
    }
  }
}
